@charset "utf-8";
/* CSS Document */


html
{
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

body 
{
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: white;	
}

.example::-webkit-scrollbar 
{
  display: none;
}


.example 
{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/*Sidebar*/
.sidenav {
	height: 100%;
	width: 4.5%;
	min-width: 25px;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0.5%;
	background-color:#5F648C;
	overflow-x: hidden;
	padding-top: 20px;
	white-space: nowrap;
	
}

.sidenav a
{
  	text-decoration: none;
  	font-size: 25px;
  	color: #818181;
  	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	
}

.sidenav a:hover
{
	
	filter: opacity(0.5) drop-shadow(0 0 0 white);
	color: #f1f1f1;
  	left: 0;
}

.dotLarge
{
	display: inline-block;
  	border-radius: 50%;
	margin-top: 4px;
	margin-right: 31px;
	margin-bottom: 8px;
	margin-left: 27px;
	height: 28px;
  	width: 28px;
}
.dotSmall
{
	display: inline-block;
  	border-radius: 50%;
	margin-top: 10px;
	margin-right: 33px;
	margin-bottom: 12px;
	margin-left: 29px;
	height: 24px;
  	width: 24px;
}
.blue
{
	background-color:#4547C5;
}
.red
{
	background-color:#B85152;
}
.green
{
	background-color:#669E67;
}
.lightBlue
{
	background-color:#6E8FB1 ;
}
.navtextLarge
{
	padding: 8px 8px 8px 0px;
}
.navtextSmall
{
	padding: 8px 8px 8px 0px;
}
.dotLarge, .navtextLarge
{
	vertical-align: middle;
}
.dotSmall, .navtextSmall
{
	vertical-align: middle;
}

#scrollbar {
  	width: 0.5%;
  	height: 100%;
  	padding: 0;
  	margin: 0 0 0 auto;
  	top: 0;	
	left: 0;
  	position: fixed;
  	background-color: #5F648C;
}

#scrollbar #bar {
  width: 100%;
  height: 0%;
  background-color: #34376C;
}

/*Sideinnhold*/
.aside
{
	height: 100vh;
  	padding-left: 0px;
  	margin-left: 0px;
  	float: right;
  	font-style: italic;
	display: block;
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Stay on top */
  	top: 0;
  	right: 0;
  	overflow-x: hidden; /* Disable horizontal scroll */
  	padding-top: 60px; /* Place content 60px from the top */
  	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}
.aside1
{
  	width: 0; /* 0 width - change this with JavaScript */
	background-image: url("img/img-0.jpg");
}
.aside2 
{
  	background-color: lightgray;
  	width: 0; /* 0 width - change this with JavaScript */
}

/*Animsjon forside*/
.frontpage
{
	position: relative;
	width: 95%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: end;
	font-family: "HWT-aetna";
	font-size: 15px;
	text-align: center;
	left: 5%;
}

.frontpage:before
{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #5F648C, transparent);
	
}

.frontpage:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #5F648C;
	mix-blend-mode: color;
}

.frontpage img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

@media screen and (max-width: 1600px) , screen and (max-height: 800px) {.frontpage {font-size: 16px; }}
@media screen and (max-width: 1400px) , screen and (max-height: 600px){.frontpage {font-size: 14px;}}
@media screen and (max-width: 1200px) , screen and (max-height: 400px){.frontpage {font-size: 12px;}}
@media screen and (max-width: 1000px) , screen and (max-height: 300px){.frontpage {font-size: 10px;}}
@media screen and (max-width: 800px) , screen and (max-height: 200px){.frontpage {font-size: 8px;}}
@media screen and (max-width: 600px) , screen and (max-height: 100px){.frontpage {font-size: 6px;}}

/*bildejusterin*/
.imgbox
{	
	display: grid;
	height: 100%;
	width: 100%
}
        
.center-fit
{            
	max-width: 100%;     
	max-height: 100vh;
	margin: auto;
}

.parallax1 
{
  	background-image: url("img/img-0.jpg");
  	width: 95%;
	height: 80vh;
	margin-left: 5%;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.titles
{
	height: 20vh;
	scroll-snap-align: end;
	background-size: cover;
	font-size: 150px;
	font-family: "Myriad Pro";
	text-align: center;
	margin: auto;
}

@media screen and (max-width: 1600px) , screen and (max-height: 800px) {.titles {font-size: 130px; }}
@media screen and (max-width: 1400px) , screen and (max-height: 750px) {.titles {font-size: 110px;}}
@media screen and (max-width: 1200px) , screen and (max-height: 700px) {.titles {font-size: 90px;}}
@media screen and (max-width: 1000px) , screen and (max-height: 650px) {.titles {font-size: 70px;}}
@media screen and (max-width: 800px) , screen and (max-height: 600px) {.titles {font-size: 50px;}}
@media screen and (max-width: 600px) , screen and (max-height: 550px) {.titles {font-size: 30px;}}
@media screen and (max-width: 500px) , screen and (max-height: 500px) {.titles {font-size: 25px; }}
@media screen and (max-width: 400px) , screen and (max-height: 450px) {.titles {font-size: 20px;}}
@media screen and (max-width: 300px) , screen and (max-height: 400px) {.titles {font-size: 15px;}}
@media screen and (max-width: 200px) , screen and (max-height: 300px) {.titles {font-size: 10px;}}
@media screen and (max-width: 100px) , screen and (max-height: 200px) {.titles {font-size: 5px;}}


.maintext
{
	height: 100vh;
	width: 95%;
	scroll-snap-align: end;
	position: relative;
	padding-left: 5%;
}

.maintext1
{
	height: 90vh;
	width: 3744px;
	position: relative;
	padding-left: 5%;
}

.maintext2
{
	padding-left: 5%;
	height: 10vh;
	width: 3744px;
	background-color: #7C97A8;
	scroll-snap-align: end;
}
.maintext3
{
	height: 90vh;
	width: 5400px;
	position: relative;
	padding-left: 5%;
	background-image: url("img/TestRagnhild.jpg")
}

.maintext4
{
	padding-left: 5%;
	height: 10vh;
	width: 5400px;
	background-color: #7C97A8;
	scroll-snap-align: end;
}

.maintextVideo
{
	height: 95vh;
	width: 95%;
	padding-left: 5%;
}
.maintextUnderVideo
{
	height: 5vh;
	width: 95%;
	scroll-snap-align: end;
	position: relative;
	padding-left: 5%;
}

#text
{
	position: relative;
	color: #fff;
	font-size: 10em;
	z-index: 1;
}

.button {
  	background-color: #34376C;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
	margin-top: 31px;
}

.button1 
{
	width: 5%;
    margin-left: 19.5%;
}
.button2 
{
	width:5%;
    margin-left:0%;

}
.button3 
{
	width:5%;
    margin-left:41%;
    
}
.button4 
{
	width:5%;
   
}

.buttonRight
{
	width: 5%;
    margin-left: 22%;
}

.buttonLeft
{
	width: 5%;
    margin-left: 46%;
}
.button5 
{
	width: 5%;
    margin-left: 14%;
}
.button6 
{
	width:5%;
    margin-left:24.5%;

}
.button7 
{
	width:5%;
    margin-left: 0%;
    
}
.button8 
{
	width:5%;
    margin-left:26%;
   
}
.fixed-position {
    position: fixed;
 }
.svg
{
	height: 90vh;
	width: 100%;
}
.centerVideo
{
	margin: auto;
	width: 100%;
}
